@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .scroll {
        scroll-behavior: smooth;
    }
     ::-webkit-scrollbar {
        width: 8px;
        @apply bg-transparent;
    }
     ::-webkit-scrollbar-thumb {
        background-color: #0000003d;
        border-radius: 20px;
    }
     ::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-600;
    }
     ::-webkit-scrollbar-track {
        @apply w-0;
    }
    html {
        --darkYellow: #011a1aad;
        --lightYellow: #fffd7698;
    }
    body {
        margin: 0;
        font-family: "QuickSand", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @layer utilities {
        .w-screen3x {
            scroll-snap-type: mandatory;
        }
        .w-screen3x>section {
            scroll-snap-align: center;
        }
        .home-card>* {
            opacity: 0;
            @apply duration-300;
            @apply transition-opacity;
        }
        .active.home-card>* {
            opacity: 100;
        }
        .active {
            @apply transform-none;
            pointer-events: all;
            z-index: 4;
        }
        .cta>svg {
            height: 2rem;
        }
        .gradient {
            background: radial-gradient(at center bottom, var(--darkYellow), var(--lightYellow));
        }
        .loading-chat::after {
            animation: load-chat 1200ms infinite ease-in-out;
        }
        @keyframes load-chat {
            to {
                left: 100%;
            }
        }
        .form-layout {}
        .card {
            @apply backdrop-blur-sm;
            background-color: #0000003d;
        }
    }
}